input {
    font-style: "Apercu";
    display: block;
    padding: 10px 10px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

h1 {
    font-style: "Apercu";
    font-weight: bold;
    margin-top: 80px;
}

a {
    font-style: "Apercu";
    text-decoration: none;
}

p {
    font-style: "Apercu";
    margin-top: 50px;
    margin-bottom: 40px;
}

button {
    font-style: "Apercu";
    padding: 9px;
    border: none;
    background-color: gray;
    font-size: 15px;
    -webkit-appearance: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}

form {
    text-align: center;
    align-content: center;
}

nav {
    background-color: #1E90FF;
    color: white;
}

select {
    display: block;
    margin: 40px auto;
}

select option {
    display: block;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 5px;
}

.homeButton{
    margin-top: 100px;
}

.homeButton img{
    height: 200px;
}

.App {
    text-align: center;
}

.dropdown-content {
    display: inline-block;
}

.dropdownButton {
    background-color: #008B8B; /* dark cyan */
    padding-left: 20px;
    padding-right: 20px;
    z-index: 99;
}

.dropdown {
    padding-top: 1px;
    padding-bottom: 1px;
}

#top-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    padding: 5px;
    width: 100%;
}

#top-nav a {
    display: block;
    color: white;
    padding: 5px 10px;
    width: auto;
}

#top-nav a:hover {
    background-color: lightblue;
    color: black;
}

#top-nav div {
    float: right;
}

#side-nav {
    float: left;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 99;
    width: 15%;
    top: 0px;
    text-decoration: none;
}

#side-nav a {
    color: white;
    display: block;
    padding: 10px 40px;
    width: auto;
}

#side-nav a:hover {
    background-color: lightblue;
    color: black;
}

#welcomeBox {
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 36px;
    padding-right: 10px;
    padding-left: 10px;
    top: 0px;
    margin-bottom: 15px;
    z-index: 99;
}

#bodyArea{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#bodyArea button{
    width: 10%;
    margin: 10px;
}

#info {
    text-align: left;
    padding-left: 20%;
    padding-top: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}
